@font-face {
  font-family: 'customfont';
  src: url('../events/font.ttf');
}
body{
  background-image: url('../events/pictures/bg.png');
  background-position: 0 0;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

/* Navbar */
.nav-section{
  position: sticky;
  top:0;
  z-index: 100;
  background-color:#0f0f0f;
  background: rgba(17, 17, 17, 0.42);
 border-radius:8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.4px);
-webkit-backdrop-filter: blur(7.4px);
border: 1px solid rgba(17, 17, 17, 0.13);
}
.logo{
  width:80px;
  padding: 4px;
}
.nav-item{
  list-style: none;
}
.nav-item a{
  color:white;
  text-decoration: none;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 23px;
  left: 4px;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover
{
  color:#e82020;
  text-decoration: none;
}
.navbar{
min-height: 70px;
display: flex;
/* align-items: center; */
justify-content: space-between;
align-items: center;
padding: 0 48px !important;

}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}
.nav-link{
  transition: 0.7s ease;
}
.nav-link:hover{
  color:#FC9918;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width:25px;
  height: 3px;
  margin:5px auto;
  -webkit-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out ;
  background-color: white;
}
@media(max-width:768px){
  .nav-section{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius:8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.4px);
-webkit-backdrop-filter: blur(7.4px);
border: 1px solid rgba(17, 17, 17, 0.13);
  }
  .navbar a:hover
{
  color:#FC9918;
  
}
.navbar {
  padding: 10px !important;
}
  .logo{
    width:70px;
  }
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    padding: 0;
    position: fixed;
    left:-100%;
    top:90px;
    gap:0;
    flex-direction: column;
    background-color:#e82020;
    width:100%;
    text-align:center;
    transition: 0.3s;
    z-index: 100;
  }

  .nav-item{
    margin:16px 0;
  }
  .nav-menu.active{
    left:0;
  }

}
.item, img{
  height: 100% ;
  width:  100% ;
  /* border: 1px solid red; */
}

.schedule-heading{
  margin:50px 0 30px 0;
  display: flex;
  justify-content: center;
  color:white;
  font-family: 'customfont',sans-serif;
  font-size: 7vw;
  
}
.content{
  margin: 0 3vw;
  color:white;
}
.hide{
  display: none;
}
.show{
  display: flex;
  flex-direction: column;
}
.buttons{
  display: flex;
  justify-content: center;
  /* background-color:red; */
}

.day-buttons {
  background: #e82020;
  border: 1px solid #e82020;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 24px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 50px 3vw 30px 3vw;
  transition: .3s ease-in-out;


}

.day-buttons:hover,
.day-buttons:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
  transition: .3s ease-in-out;

}

.day-buttons:active {
  opacity: .5;
}
.event{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  font-family: 'Montserrat',sans-serif;
  transition: all 0.3s ease-out 100ms
}
.event:hover{
  transform: scale(1.1);
}
.time{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right:8vw;
}
.event-name{
  display: flex;
}
hr{
  width:10vw;
  border: 1px solid #ff8c00;
}
 /* footer */
 .footer {
  background: #3b3b3b;
  /* margin-top: 100px; */
  padding: 30px 0;
}

.footer:after {
  content: "";
  display: block;
  clear: both;
}

.footer ul {
  float: left;
  padding: 0;
  list-style-type: none;
  color: #eee;
  width: 23%;
  margin-right: 2%;
}

.footer li {
  margin: 10px 0;
}

.footer anav
 {
  color: #eee;
  text-decoration: none;
}
#footer {
  background: #0f0f0f;
  font-family: 'Montserrat', sans-serif;
  
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 2.5rem;
  letter-spacing: 1rem;
  font-weight: 700;
  color:#e82020;
  position: relative;
  font-family: 'customfont', sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 1rem;
  /* font-style: italic; */
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #FC9918;
  box-shadow: inset 0 0 0 0 #FC9918;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 20px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background:#FC9918;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

#footer .credits a {
  color: #FC9918;
  transition: 0.3s;
}

#footer .credits a:hover {
  color: #FC9918;
}