@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: 'customfont';
    src: url('font.ttf');
  }
  @font-face {
    font-family: 'Cocogoose';
    src: url('font1.ttf');
    font-style: inline;
    font-weight: 900;
    font-size: 1ch;
  }
body{
    background-image: url('pictures/bg.png');
    background-position: 0 0;
    background-repeat: repeat;
}
@font-face {
  font-family: 'customfont';
  src: url('font.ttf');
}
@font-face {
  font-family: 'customfont2';
  src: url('font2.otf');
}
body {
  font-family: 'Montserrat', sans-serif;

  margin: 0;
  background-image: url('pictures/bg.png');
  
  position: inherit;

}
/* Navbar */
.nav-section{
  position: sticky;
  top:0;
  z-index: 100;
  background-color:#0f0f0f;
  background: rgba(17, 17, 17, 0.42);
 border-radius:8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.4px);
-webkit-backdrop-filter: blur(7.4px);
border: 1px solid rgba(17, 17, 17, 0.13);
}
.logo{
  width:80px;
  padding: 4px;
}
.item, img{
  height: 100% ;
  width:  100% ;
  /* border: 1px solid red; */
}

.nav-item{
  list-style: none;
}
.nav-item a{
  color:white;
  text-decoration: none;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 23px;
  left: 4px;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover
{
  color:#e82020;
  
}
.navbar{
min-height: 70px;
display: flex;
/* align-items: center; */
justify-content: space-between;
align-items: center;
padding: 0 48px !important;

}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}
.nav-link{
  transition: 0.7s ease;
}
.nav-link:hover{
  color:#FC9918;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width:25px;
  height: 3px;
  margin:5px auto;
  -webkit-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out ;
  background-color: white;
}
@media(max-width:768px){
  .nav-section{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius:8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(17, 17, 17, 0.13);
  }
  .navbar a:hover
{
  color:#FC9918;
  
}
.navbar {
  padding: 10px !important;
}
  .logo{
    width:70px;
  }
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left:-100%;
    top:90px;
    gap:0;
    flex-direction: column;
    background-color:#e82020;
    width:100%;
    text-align:center;
    transition: 0.3s;
    z-index: 100;
  }

  .nav-item{
    margin:16px 0;
  }
  .nav-menu.active{
    left:0;
  }

}
* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

  
 .container{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    /* flex-wrap: wrap; */
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
} 
.name{
    font-family: customfont;
    color: white;
}
.box 
{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #000000;
    transition: 0.5s;
}
.box:hover 
{
    height: 400px;
}

.box .imgBx 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}
.box .imgBx img 
{
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}
.box:hover .imgBx img 
{
    opacity: 1;
}
.box::before 
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -1;
}
.box::after 
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -2;
    filter: blur(40px);
}
.box::before, 
.box::after 
{
    background: linear-gradient(235deg, #e82020, #000000, #FC9918);
}
.box:nth-child(2)::before, 
.box:nth-child(2)::after 
{
    background: linear-gradient(235deg, #e82020, #000000, #FC9918);
}
.box:nth-child(3)::before, 
.box:nth-child(3)::after 
{
    background: linear-gradient(235deg, #e82020, #000000, #FC9918);
}
.box .card-content 
{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.box:hover .card-content 
{
    opacity: 1;
}
.box .card-content h2 
{
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.box .card-content h2 span 
{
    font-size: 14px;
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 2px;
}

.cards {
    display: flex;
    justify-content: space-between;
}
 .heading{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'customfont';
    font-size: 8vw;
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
 }

 /* footer */
 .footer {
  background: #3b3b3b;
  /* margin-top: 100px; */
  padding: 30px 0;
}

.footer:after {
  content: "";
  display: block;
  clear: both;
}

.footer ul {
  float: left;
  padding: 0;
  list-style-type: none;
  color: #eee;
  width: 23%;
  margin-right: 2%;
}

.footer li {
  margin: 10px 0;
}

.footer anav
 {
  color: #eee;
  text-decoration: none;
}
#footer {
  background: #0f0f0f;
  font-family: 'Montserrat', sans-serif;
  
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 2.5rem;
  letter-spacing: 1rem;
  font-weight: 700;
  color:#e82020;
  position: relative;
  font-family: 'customfont', sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 1rem;
  /* font-style: italic; */
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #FC9918;
  box-shadow: inset 0 0 0 0 #FC9918;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background:#FC9918;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

#footer .credits a {
  color: #FC9918;
  transition: 0.3s;
}

#footer .credits a:hover {
  color: #FC9918;
}
